@{
    ViewBag.Title = "About";
}
<br /><br /><br />

<div>  
    <center><img src="~/Content/images/iremblog_img.jpg" width="300" height="350" /></center>
</div>
<center>
    <p>

        <h2>
            <b>
                Hi everyone!<br />
                I am İrem Nur from Yıldırım Beyazıt University.<br />
                You can access my social links!
            </b>
        </h2>

        <a href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a"><u>My LinkedLn Adress</u></a><br />
        <a href="https://iremnurserdar.wordpress.com/"><u>My WordPress Site</u></a> <br />
        <a href="https://github.com/iremnur"><u>My Github Address</u></a><br />
        <a href="https://plus.google.com/114610042842755723246/posts"><u>My google plus address</u></a><br />

        <a class="btn btn-default" href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a">Learn more &raquo;</a>

    </p>
<center>
    <div>

        <a href="~/Content/cv.pdf"><h2><u>You can download my CV</u></h2></a><br />
        <p><a class="btn btn-default" href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a">Learn more &raquo;</a></p>
    </div>
</center>