
@{
    ViewBag.Title = "Blog";
}


<html>
<head>
<title>WELCOME TO MY BLOG</title>
</head>
<body>
    <center>
        <h1>WELCOME TO IREM 's BLOG</h1>
    <img src="~/Content/images/iremstaj.jpg" width="300" height="500" />
    </center>
    
</body>
</html>