@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    <b>Name</b>    : İREM NUR <br />
    <b>Surname</b> : SERDAR
</p>

<address>
    Ankara<br />
    TURKEY<br />
    <h2>My Social Links</h2>
    <p>
        <a href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a"><u>My LinkedLn Adress</u></a><br />
        <a href="https://iremnurserdar.wordpress.com/"><u>My WordPress Site</u></a> <br />
        <a href="https://github.com/iremnur"><u>My Github Address</u></a><br />
        <a href="https://plus.google.com/114610042842755723246/posts"><u>My google plus address</u></a>
    </p>
</address>

