@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO IREM'S BLOG</h1>
    <p class="lead"></p>
    <p><a href="https://iremnurserdar.wordpress.com/" class="btn btn-primary btn-large">Learn more about İrem &raquo;</a></p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some Usefull Links</h2>
        <p>
            <a href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a"><u>My LinkedLn Adress</u></a><br />
            <a href="https://iremnurserdar.wordpress.com/"><u>My WordPress Site</u></a> <br />
            <a href="https://github.com/iremnur"><u>My Github Address</u></a>
        </p>

        <p><a class="btn btn-default" href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-5">

        <a href="~/Content/cv.pdf"><u><h2>You can download my CV</h2></u></a><br />
        <p><a class="btn btn-default" href="https://tr.linkedin.com/pub/irem-nur-serdar/66/33a/49a">Learn more &raquo;</a></p>
    </div>
    
</div>
